.container{
    height: 500px;
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

.item{
    background-color: orangered;
    padding: 0 5px;
    flex: 1;
    text-align: center;
    color: white;
    margin: 5px;
    border: 2px solid black;
}

.stretch{
    align-content: stretch;
}

.center{
    align-content: center;
}

.flex-start{
    align-content: flex-start;
}

.flex-end{
    align-content: flex-end;
}

.space-around{
    align-content: space-around;
}

.space-between{
    align-content: space-between;
}